.left-nav-menu ul {
    list-style: none;
}

.left-nav-menu span a,
span.left-nav-selected-child a,
span.center-nav-selected-child a{
	position: relative;	
}

span.center-nav-selected-child h3 a,
span.left-nav-selected-child h2 a,
span.center-nav-selected-child a h3,
span.left-nav-selected-child a h2{
	color: #084875;
	position: relative;	
}

.left-nav-menu{
	padding-top: 15px;
}

.left-nav-menu.overlay-menu{
	display: none;
	position: fixed;
	top: 45px;
	left: 0;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	padding: 15px 30px;
	width: 100%;
	z-index: 100;
}

.left-nav-menu h2
{
	font-size: 17px;
    line-height: 20px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.left-nav-menu h2 a{
	color: #a7a9ac;
	cursor: pointer;
}

.page-template-leftandcenternav-page #right-pane,
.page-template-leftnavsiblings-page #primary,
.page-template-leftnav-page #primary{
	padding-left: 50px;
}

p.back-to-top{
	margin-top: 20px;
	margin-bottom: 40px;
}

p.back-to-top a i {
	margin-right: 5px;
}

.page-head.show-nav{
	display: none;
}

@media (max-width: 600px){
	.page-template-leftandcenternav-page #right-pane,
	.page-template-leftnavsiblings-page #primary,
	.page-template-leftnav-page #primary{
		padding: 0 15px;
	}

	.page-template-leftandcenternav-page div#center-nav{
		display: none;
	}
	.page-template-leftandcenternav-page div#right-pane{
		width: 100%;
	}

	.page-template-leftandcenternav-page div#right-pane h3{
		cursor: pointer;
	}

	.page-template-leftandcenternav-page .switchpane {
		display: block;
	}

	.page-template-leftandcenternav-page div#right-pane span.answer{
		overflow: hidden;
		max-height: 0;
		display: block;
		-webkit-transition: max-height .25s;
		transition: max-height .25s;
	}

	.page-template-leftandcenternav-page div#right-pane .drawer-open span.answer{
		max-height: 800px;
		-webkit-transition: max-height .5s;
		transition: max-height .5s;
	}

	.page-template-leftandcenternav-page div#right-pane h3{
		cursor: pointer;
	}	
}

@media (max-width: 767px){
	p.back-to-top{
		display: none;
	}

	.left-nav-menu.overlay-menu{
		display: block;
	}

    .left-nav-menu{
        margin-bottom: 30px;
    }
}

.page-template-leftandcenternavselfandchildren-page #right-pane{
    padding-top:16px;
}
