~
.DS_Store
.svn
.cvs
.bak
.swp
Thumbs.db

# wordpress specific
production.wp-config.php
wp-config.php
wp-contentuploads
wp-contentblogs.dir
wp-contentupgrade
wp-contentbackup-db
wp-contentadvanced-cache.php
wp-contentwp-cache-config.php
wp-contentcache
wp-contentcachesupercache

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-contentobject-cache.php
wp-contentmu-pluginsmu-plugin.php
wp-contentmu-pluginsslt-force-strong-passwords.php
wp-contentmu-pluginslimit-login-attempts
wp-contentmu-pluginswpengine-common
wp-contentmysql.sql

# largedisallowed file types
# a CDN should be used for these
.hqx
.bin
.exe
.dll
.deb
.dmg
.iso
.img
.msi
.msp
.msm
.mid
.midi
.kar
.mp3
.ogg
.m4a
.ra
.3gpp
.3gp
.mp4
.mpeg
.mpg
.mov
.webm
.flv
.m4v
.mng
.asx
.asf
.wmv
.avi