@font-face {font-family: 'Proxima-Nova'; font-weight: bold; font-style: normal; src: url('fonts/2FE7B5_8_0.eot');src: url('fonts/2FE7B5_8_0.eot?#iefix') format('embedded-opentype'),url('fonts/2FE7B5_8_0.woff2') format('woff2'),url('fonts/2FE7B5_8_0.woff') format('woff'),url('fonts/2FE7B5_8_0.ttf') format('truetype');}
   
@font-face {font-family: 'Proxima-Nova'; font-weight: bold; font-style: italic; src: url('fonts/2FE7B5_9_0.eot');src: url('fonts/2FE7B5_9_0.eot?#iefix') format('embedded-opentype'),url('fonts/2FE7B5_9_0.woff2') format('woff2'),url('fonts/2FE7B5_9_0.woff') format('woff'),url('fonts/2FE7B5_9_0.ttf') format('truetype');}

@font-face {font-family: 'Proxima-Nova'; font-weight: normal; font-style: normal; src: url('fonts/2FE7B5_A_0.eot');src: url('fonts/2FE7B5_A_0.eot?#iefix') format('embedded-opentype'),url('fonts/2FE7B5_A_0.woff2') format('woff2'),url('fonts/2FE7B5_A_0.woff') format('woff'),url('fonts/2FE7B5_A_0.ttf') format('truetype');}
   
@font-face {font-family: 'Proxima-Nova'; font-weight: normal; font-style: italic; src: url('fonts/2FE7B5_B_0.eot');src: url('fonts/2FE7B5_B_0.eot?#iefix') format('embedded-opentype'),url('fonts/2FE7B5_B_0.woff2') format('woff2'),url('fonts/2FE7B5_B_0.woff') format('woff'),url('fonts/2FE7B5_B_0.ttf') format('truetype');}

@font-face {font-family: 'Proxima-Nova'; font-weight: normal; font-style: italic; src: url('fonts/2FE7B5_B_0.eot');src: url('fonts/2FE7B5_B_0.eot?#iefix') format('embedded-opentype'),url('fonts/2FE7B5_B_0.woff2') format('woff2'),url('fonts/2FE7B5_B_0.woff') format('woff'),url('fonts/2FE7B5_B_0.ttf') format('truetype');}






body,
button,
input,
select,
textarea {
	color: #666;
	font-family: 'Proxima-Nova',serif;
	font-size: 17px;
	line-height: 1.6;
	font-weight: normal;
	font-style: normal;
}

h1, h2.mockH1 { font-size: 32px; }
h2, h1.mockH2, .page-head h1.mockH2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

@media (max-width: 768px){
	body h1, body h2.mockH1 { font-size: 26px; }
	body h2, body h1.mockH2, body .page-head h1.mockH2 { font-size: 22px; }
	body .page-head h1, body h2.mockH1{font-size: 26px;}

	body,
	button,
	input,
	select,
	textarea {
		font-size: 14px;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Proxima-Nova', serif;
	color: #084875;
	max-width: 100%;
	font-weight: bold;
	font-style: normal;
}

.page-head h1, 
h2.mockH1{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom:1px solid #cccccc;
}

.page-head h1.mockH2{
    text-transform: none;
    border-bottom: none;
}

code{
	white-space: normal;
}


/* Links */
a,
a:visited,
a:hover,
a:focus,
a:active {
	color: #084875;
	text-decoration: none;
}

p a {
	text-decoration: underline;
}
/* Head */

#masthead{
	position: relative;
}
.site-branding{
	margin-bottom: 20px;
}
h1.site-title,
h2.site-title{
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 15px;
	margin-bottom: 25px;
}

h1.site-title a,
h2.site-title a {
	text-indent: -999em;
	background-image: url('images/tilray-nav-logo.svg');
	display: block;
	width: 211px;
	height: 37px;
	background-position: top left;
	background-repeat: no-repeat;
	position: relative;
	top: -4px;
	background-size: contain;
}

html[lang='fr-CA'] h1.site-title a,
html[lang='fr-CA'] h2.site-title a {
	background-image: url('images/tilray-nav-logo-fr.svg');
}


h1 > a, h1 > a:link, h1 > a:visited, 
h2 > a, h2 > a:link, h2 > a:visited, 
h3 > a, h3 > a:link, h3 > a:visited
{
	color: #084875;
}



/* Menu */

.menutoggle{
	width: 36px;
	height: 36px;
	color: #777;
	border: 1px solid #ddd;
	border-radius: 3px;
	line-height: 36px;
	text-align: center;
	background: #fff;
	position: absolute;
	right: 20px;
	top:25px;
	font-size: 20px;
	display:none;
}
nav.main-navigation{

	margin-bottom: 20px;
	background: #3a4755;
}


#primary-menu-container {
	padding:0px 0px;
	margin: 15px 0px;
	border-bottom: none;
	float: right;
}
	
#primary-menu-container ul {
	width: auto;
	list-style: none;
	margin: 0;
	padding: 0 0px;

	}
	
#primary-menu-container li {
	float: left;
	list-style: none;
	margin: 0;
	font-weight:400;
	padding: 19px 0 19px 30px;
}

#primary-menu-container li:first-child {
	padding-left: 0;
}
	
#primary-menu-container li a {
	font-family: 'Proxima-Nova',serif;
	font-weight: bold;
	font-style: normal;
	color: #a7a9ac;
	display: block;
    margin: 0;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
}


body.archive.category-news #primary-menu-container li.menu-item-news a,	/* page 2 and greater of news archive doesn't get current-menu-item, so have to fix manually */
#primary-menu-container li.current_page_ancestor a,
#primary-menu-container li.current-page-ancestor a,
#primary-menu-container li.current-menu-item a {
	color: #084875;
    border-bottom: 4px solid #084875;
}

#primary-menu-container li.current-menu-ancestor ul.sub-menu li a,
#primary-menu-container li.current-page-ancestor ul.sub-menu li a,
#primary-menu-container li.current_page_ancestor ul.sub-menu li a,
#primary-menu-container li.current-menu-item ul.sub-menu li a,
#primary-menu-container li.current-menu-ancestor ul.sub-menu li.current-menu-item a,
#primary-menu-container li.current_page_ancestor ul.sub-menu li.current-menu-item a {
    border-bottom: none;
}


#primary-menu-container li a:hover, #primary-menu-container li a:active, #primary-menu-container .current_page_item a  {
	color: #084875;
}
	
#primary-menu-container li a.sf-with-ul {
	padding-right: 10px;
	}	
	

	
#primary-menu-container li ul li a, #primary-menu-container li ul li a:link, #primary-menu-container li ul li a:visited,
#primary-menu-container li ul li ul li a, #primary-menu-container li ul li ul li a:link, #primary-menu-container li ul li ul li a:visited,
#primary-menu-container li ul li ul li ul li a, #primary-menu-container li ul li ul li ul li a:link, #primary-menu-container li ul li ul li ul li a:visited {
	color: #084875;
	width: 148px; 
	margin: 0;
	padding: 10px 10px;
	border-top:1px solid #ddd;
	position: relative;
	font-weight:400;

	}
	
#primary-menu-container ul li ul li:first-child a,#primary-menu-container ul li ul li ul li:first-child a,#primary-menu-container ul li ul li ul li ul li:first-child a  {
	border-top:none;
	

}

	
#primary-menu-container li ul li a:hover ,#primary-menu-container li ul li ul li a:hover ,#primary-menu-container li ul li ul li ul li a:hover {
	color:#3caefb;
}

#primary-menu-container li ul.sub-menu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight:400;
	padding: 0 5px;
}
	


#primary-menu-container li ul {
	font-size: 12px;
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 160px;
	margin: 0px 0px 0px 0px;
	padding: 0;
	background:#eeeeee;
	opacity: 0;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
	}

#primary-menu-container li ul a { 
	width: 150px;
	}

#primary-menu-container li ul a:hover, #primary-menu-container li ul a:active { 
	}

#primary-menu-container li ul ul {
	margin: -44px 0 0 160px;
	}

#primary-menu-container li:hover ul ul, #primary-menu-container li:hover ul ul ul, #primary-menu-container li.sfHover ul ul, #primary-menu-container li.sfHover ul ul ul {
	left: -999em;
	}

#primary-menu-container li:hover ul, #primary-menu-container li li:hover ul, #primary-menu-container li li li:hover ul, #primary-menu-container li.sfHover ul, #primary-menu-container li li.sfHover ul, #primary-menu-container li li li.sfHover ul {
	left: auto;
	opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

#primary-menu-container li:hover, #primary-menu-container li.sfHover { 
	position: static;
	}

#primary-menu-container #primary-menu{
    display: inline;
}

#primary-menu-container form{
    display: inline;
    float: right;
    margin: 15px 0 15px 30px;    
    border: 1px solid #a7a9ac;
}

#primary-menu-container form label{
    margin: 0;
}

input.search-field{
	height: 24px;
    width: 70px;
	padding: 5px 5%;
	display: block;
    border: none;
    background: none;
    color: #eeeeee;
    -webkit-transition: width .5s, -webkit-transform .5s;
    transition: width .5s, transform .5s;
}

input.search-field:focus{
    -webkit-transition: width .5s, -webkit-transform .5s;
    transition: width .5s, transform .5s;    
    outline: none;
}

button.search-submit{
    border: none;
    background: none;
    box-shadow: none;    
    padding: 0 3px 0 0;
    color: #a7a9ac;
}

form.search-404{
    border: 2px solid #a7a9ac;
    display: inline-block;
    padding: 5px;
}

form.search-404 label{
	margin: 0;
}

form.search-404 input.search-field{
	width: 300px;
	font-size: 15px;
}

div.more-content{
	margin-top: 120px;
}

	
#loginmenucontainer{
	width: 100%;
	background-color: #000;
}



.login-nav-wrapper{
	height:25px;
	font-size: 12px;
	line-height: 25px;
}

span.social-connections{
	display: block;
	float: right;
	padding-top: 2px;
}

span.social-connections a{
	color: #a7a9ac;;
	font-size: 16px;
	padding-left: 0;
	padding-right: 0;
}

ul#login-menu li
{
	display: inline;
	list-style-type: none;
	float: right;
	text-align: center;
	height: 100%;
}

ul#login-menu {
	height: 100%;
	float: right;
	width: 400px;
	margin: 0;
}

ul#login-menu li a {
	color: #fff;
}


ul#login-menu li,
#language-chooser {
	font-family: 'Proxima-Nova',serif;
	font-weight: normal;
	font-style: normal;
}

ul#login-menu li a,
#language-chooser {
	background-color: #3caefb;
	width: 110px;
	float: right;
	text-align: center;
	height: 100%;
	margin-left: 5px;
	text-transform: uppercase;
}


ul#login-menu li:last-child a{
	background-color: #ffb12f;
	width: 150px;
}





.language-chooser,
.language-chooser a,
.language-chooser a:visited,
.language-chooser a:hover
{
	position: relative;
	display: inline;
	color: #fff;
}


.caret{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

#languagechooserbutton{
	cursor: pointer;
	text-transform: uppercase;
}	

#languagedropdown{
	position: absolute;
	right: 0px;
	z-index: 3;
	width: 100px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	background: #fff;
}	
#languagedropdown.closed{
	display: none;
}	

#languagedropdownwrapper{
	height: 0;
	position: relative;
}

ul.lang-chooser-dropdown{
	list-style: none;
	margin: 10px 0 10px 0;
}

ul.lang-chooser-dropdown li{
	margin: 5px 20px 5px;
}

ul.lang-chooser-dropdown li a,
ul.lang-chooser-dropdown li a:visited{
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}


		
#loginmenu {
	padding:0px 0px;
	margin: 0px 0px;
	height:30px;
	float: right;
	display: inline;
	}
	
#loginmenu ul {
	width: auto;
	float:right;
	list-style: none;
	margin: 0;
	padding: 0 0px;
	}
	
#loginmenu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight:400;
	}
	
#loginmenu li a {
	display: block;
    margin: 0;
	padding: 0 10px 0 10px;
	text-decoration: none;
	position: relative;
	}
	
.social-icon{
	width: 60;
	height: 30;
	margin: 0;
	overflow: hidden;
	text-indent: -9999px;
	display:block;
}

.social-icon a{
	display:block;
}	

#loginmenu li a:not([href*="tilray"]) {
	padding: 0 15px 0 15px;
	margin: 0;
	overflow: hidden;
	text-indent: -9999px;
	display:block;
	background-repeat: no-repeat;
    background-position: center; 
}

#loginmenu li a[href*="registration.tilray"]{
	vertical-align: top;
	margin: -4px 0 0 10px;
	padding: 4px 25px;
	background-color: #3daffc;
	text-transform: uppercase;
	color: #fff;
}
	
	
header{
	width: 100%;
}

/* Layout */
html, body {
	min-height: 100vh;
	position: relative;
}

#page{
	min-height: 100%;
	margin-bottom: -60px;
	padding-bottom: 60px;
	position: relative;
}

@media (max-height: 768px){
	#page{
		padding-bottom: 95px;
	}
}

#primary {
	min-height: 500px;
    -webkit-transition:height .2s, -webkit-transform .2s;
    transition:height .2s, transform .2s;
}

#primary, #secondary{
	padding-top: 5px;
	padding-bottom: 40px;
}

/* Slider */

#slidebox{
	max-width: 1719px;
	max-height: 550px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #ffffff;
	padding-bottom: 32%;
}

.doverlay{
}

.section-banner-slides{
	width: 100%;
	padding-bottom: 32%;
	height: 0;
}


img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
	
div#slidebox.flexslider{
	background-image: url(https://www.tilray.ca/wp-content/uploads/2015/10/bcs_best.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.flex-caption{
	margin: 0;
	z-index: 120;
	width: 100%;
	text-align: center;
	top:0; 
	position: absolute;
	height: 100%;
	pointer-events: none;
}	
	
.flex-caption h1,
.flex-caption h2,
.flex-caption h3{
	width: 100%;
	margin: 0;
	padding: 0;
}



a.frmore{
	background: rgba(255,255,255,0.2);
	display: block;
	text-transform: uppercase;
	color: #fff;
	width: 150px;
	border: 1px solid #fff;
	padding: 5px 0px;
	margin: 10px auto;
	font-weight: bold;
	color: #fff!important;
}


/* Home widgets */

.fwidgets{
	padding: 40px 0px;
	background: #3caefb;
	border-top:5px solid #f96b61;
	border-bottom:5px solid #f96b61;
}


.flexslider .slides li{
	position: relative;
}

.homepage-profile-banner{
	width: 45%;
	padding-left: 7%;
	height: 100%;
	display: table;
}

.homepage-profile-banner > div{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: left;
}

.homepage-profile-banner h1{
	color: #818486;
	font-size: 5vw;
	margin-bottom: 8px;
}

.homepage-profile-banner.french h1{
	font-size: 4.0vw;
}


@media (min-width: 1100px){
	.homepage-profile-banner h1{
		font-size: 52px;
	}	

	.homepage-profile-banner.french h1{
		font-size: 44px;
	}	
}

.homepage-profile-banner h1.lighter{
	font-weight: 300;
}

.homepage-profile-banner .color-stripe{
	height: 10px;
	background-image: url(./images/homepagestripes.png);
	background-size: cover;
}

/* Homepage */
.homepage-header-container{
	height: 32vw;
	background-size: cover;
	background-position: center;
}

.homepage-header-container a{
	display: block;
	height: 100%;
}

.row.homepage-points{
	margin-top: 100px;
}

.homepage-point{
	text-align: center;
	padding: 0 40px;
}

.homepage-point img{
	height: 100px;
	padding: 7px;
	-webkit-transition: all .1s;
	transition: all .1s;
}
.homepage-point:hover img{
	padding: 0;
	-webkit-transition: all .25s;
	transition: all .25s;
}

.homepage-feature-section {
	margin: 70px 0;
	display: table;
}

.homepage-feature-section > div{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.homepage-feature-section > div.image{
	width: 60%;
}

.homepage-feature-section > div.content{
	width: 40%;
}

.homepage-feature-section .video-container{
	padding-bottom: 33.6%;
}

@media (max-width: 768px){
	.row.homepage-points{
		margin-top: 30px;
	}

	.homepage-point{
		margin-bottom: 30px;
	}

	.homepage-feature-section .video-container{
		padding-bottom: 33.6%;
	}

	.homepage-feature-section .video-container{
		padding-bottom: 56.25%;
	}

	.homepage-feature-section {
		margin: 0 0 30px 0;
		display: block;
	}

	.homepage-feature-section > div{
		display: block;
		height: inherit;
	}

	.homepage-feature-section > div.image,
	.homepage-feature-section > div.content{
		width: 100%;
	}
}


.homepage-feature-section.left > div.content{
	padding-left: 50px;
}

.homepage-feature-section.right > div.content{
	padding-right: 50px;
}

div.homepage-blog-container {
	border-top: 1px solid #cccccc;
}

div.homepage-blog-container h2{
	margin-top: 10px;
	margin-bottom: 20px;
}

@media (max-width: 768px){
	div.homepage-blog-container h2{
		margin-top: 25px;
		margin-bottom: 5px;
	}
}

div.homepage-blog-list {
	display: inline-block;
	width: 360px;
	height: 280px;
	margin-right: 27px;
	vertical-align: top;
}

div.homepage-blog-list img{
	outline: solid 1px #a7a9ac;
}

.homepage-blog-list h3{
	padding-top: 6px;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;	
	margin: 0;
	font-size: 15px;
}

.homepage-blog-list h4 {
	margin: 0;
	font-size: 12px;
	color: #a7a9ac;
	padding-top: 5px;
	padding-bottom: 15px;
}


.section-wide{
	margin-top:40px;
}
.sec{
	margin-bottom: 40px;
}
.section-title{
	text-transform: uppercase;
	padding-bottom: 20px;
}
.section-title h2{
	font-size: 24px;
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
}

.section-title p{
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	color: #aaa;
	padding-bottom: 20px;
}

.portbox,.postbox,.hthumb{
	position: relative;

}

div.hthumb{
	padding: 0;
}


.overlay{
	position: absolute;
	background: #3caefb;
	width: 30px;
	height: 30px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	z-index: 100;
	right: 0px;
	bottom: 0px;
}
.portbox h3{
	text-align: center;
	color: #000;
	font-size: 14px;
}

.postbox h3{
	font-size: 16px;
	font-weight: bold;
}
.postbox h3 a:link, .postbox h3 a:visited, .portbox h3 a:link, .portbox h3 a:visited {
	color: #000;
	
}

.hometa{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
}

h2.blog-section {
	text-transform: uppercase;
}

/* Article */

.page-head{
	padding: 20px 0px 0px 0px;
}


article.post, article.page, section.error-404{
	margin-bottom: 40px;
}

h1.entry-title{
	margin-top:10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 36px;
	color: #000;
}

h1.entry-title a:link, h1.entry-title a:visited{
	color: #000;
}

.entry-meta{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}




/* Search */

.widget_search{
	width: 100%;
}
.widget_search label{
	width: 100%;
}





/* Widgets */
.widget {
	margin: 0 0px 30px 0px;
	
}

h1.widget-title, h3.sidetitl {
    font-size: 20px;
 	color:#000;
 	height: 60px;
 	line-height: 60px;
 	text-transform: uppercase;
 	font-weight: bold;
}

.widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.widget li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.widget ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.widget ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 0px;
    color: #6f7779;
}

.widget ul li a:link,.widget ul li a:visited {
    color: #6f7779;
    text-decoration: none;
}

.widget ul li a:hover{
	color:#3caefb;
}

.widget.widget_categories ul li,.widget.widget_pages ul li,.widget.widget_archive ul li,.widget.widget_links ul li,.widget.widget_meta ul li {
    border-bottom: 1px dotted #ddd;
    padding: 7px 0px;
}

.widget.widget_recent_entries ul li  {
	padding: 7px 0px;
     border-bottom: 1px dotted  #ddd;
}

.widget ul#recentcomments li.recentcomments {
     border-bottom: 1px dotted  #ddd;
    padding: 7px 0;
}

.widget .textwidget p {
    padding: 0px 0px;
}

.widget .tagcloud {
    padding: 0px 0px 20px 0px;
}

.widget .tagcloud a{
	color:#F5634A;
}

.widget #calendar_wrap{
	padding:0px 20px 20px 20px;
	color: #6f7779;
}

.widget_ns_mailchimp{
	background: #fff;
	border:1px solid #eaeaea;
	padding: 20px 20px;
}

.widget_ns_mailchimp input.button{
	width: 110px;
	margin: 10px 0px 0px 0px;
}

.squarebanner{
	margin:0px;
}


.squarebanner ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px !important;

}

.squarebanner ul li{
	margin:10px 20px 5px 0px;
	list-style:none;
	float:left;

}
.squarebanner ul li img{
	width: 110px;
	height: 110px;
}

li.rbanner{
	margin-right:0px!important;
}


div.clearfix{
	height: 0;
}

/* Comments */

#comments{
	
}

h2.comments-title{
	font-size: 24px;
	margin-bottom: 20px;
	color:#3caefb;
}

#comments ol.comment-list {
    clear: both;
    overflow: hidden;
    list-style: none;
    margin: 0;
}

#comments ol.comment-list li.comment,#comments ol.comment-list li.pingback {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px;
    line-height: 1.6;

}

ol.comment-list li .comment-author .avatar {
     margin: 10px 10px 20px 0px;
     float:left;
     width:64px;
     height: 64px;
     border-radius: 32px;
}

cite.fn {
    color: #444;
    font-style:normal;
    font-weight:bold;
    font-size:14px;
    padding-top: 10px;
    display: inline-block;
}

cite.fn a:link,cite.fn a:visited {
	color:#444;
}

ol.comment-list li .comment-meta{

	padding-bottom: 10px;
}

ol.comment-list li .comment-meta a {
    
    text-decoration: none!important;
    
    
}

.comment-metadata{
	font-size: 12px;
	color: #999;
}

.comment-metadata a:link, .comment-metadata a:visited{
	color: #999;
}

.comment-content{
	padding: 0px 10px 10px 74px;

}

ol.comment-list li .reply {
	color:#3caefb;
    font-size: 12px;
    margin-left: 74px;
}

ol.comment-list li .reply a {
	color:#3caefb;

}

.space{
	height:30px;
}


ol.comment-list li ul.children {
    list-style: none;
    text-indent: 0;
    margin: 20px 0px 0px 50px;
}


#respond {
    margin: 30px 0;

}

#respond h3 {
    font-size: 18px;
    color: #3a4755;
    padding: 5px 0px;
    margin:0px 0px;
}

#commentform {
    padding: 0px 0px;
}

#commentform p {
    color: #777;
    margin: 5px 0;
}

.form-allowed-tags{
	font-size:13px;
}

#respond label {
    display:inline;
    color: #777;
    padding: 5px 0;
}

#respond input {
    background: #fff;
    border: 1px solid #ddd;
    color: #777;
    margin: 0 10px 10px 0;
    padding: 5px;
}

#commentform input {
    width: 50%;
    display:block;
    margin-top:5px;
}

#respond input#submit {
	width:130px;
    background:#eee;
    color: #555;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea#comment {
    display:block;
    margin-top:5px;
    background: #fff;
    border: 1px solid #ddd;
    width: 70%;
    color: #333;
    margin: 5px 0 0;
    padding: 10px 10px;
}


.form-allowed-tags{
	padding:20px 0px;

}

/* Footer widgets */

#bottom{
	padding: 20px 0px 40px 0px;
	background: #3b3b3b;
	border-top:5px solid #3caefb;
}

#bottom ul{
	margin:0px 0px;
	padding:0px;
}

h3.bothead{
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 0px;
	color:#fff;
	text-transform: uppercase;
	}
	
.botwid{
	color: #aaa;
	}
	
.botwid ul {
	list-style-type: none;
	margin:  0px;
	padding: 0px 0px 0px 0px ;


	}
.botwid li{
	list-style-type: none;
	margin: 0 ;
	padding: 0px 0px;
    border-bottom: 1px dotted rgba(255,255,255,.2);
	}
.botwid ul ul  {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	background-repeat:no-repeat;
		}

.botwid ul ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;
	}

.botwid ul ul ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;

	}

.botwid ul li {
	height:100%;
	line-height:18px;
	clear: left;	
	list-style-type: none;
	color: #aaa;
	}
	
.botwid ul li a:link, .botwid ul li a:visited  {
	color: #aaa;
	text-decoration: none;
	padding: 7px 0px 7px 0px;
	display:block;
	}

.botwid ul li a:hover{
	color: #fff;
	}

.botwid p{
	padding: 5px 0px;
	margin:0;
	line-height:150%;
	
	}

.botwid table {
	width:100%;
	text-align:center;
	color: #818181;
	}		
		
.botwid ul#recentcomments li.recentcomments {
    padding:7px 0;
}



/* Footer */
.site-footer{
	width: 100%;
	font-size: 12px;
	position: absolute;
	bottom: 0;
}

.site-footer.mobile{
	text-align: center;
}

.site-footer .color-wrapper {
	min-height: 60px;
	width: 100%;
	background:#444444;	
}

.site-footer .social-icons-container{
	padding: 10px 0px;
    display:none;
}


.site-footer .row {
    margin: 0;
}

footer ul li.mobile-menu-line-break{
    display:none;
}

.site-footer li a {
	white-space: nowrap;
}

.fcred{
	padding: 10px;
	color: #eee;
}

.fcred a:link, .fcred a:visited{
	color:#eee;
}

.sticky-footer-content{
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer.expanded .sticky-footer-content
{
	position: relative;
}


.no-hide-sticky-footer-content{
	position: fixed;
	bottom: 0;
	width: 100%;
}




.left-nav-menu span a,
span.left-nav-selected-child a,
span.center-nav-selected-child a{
	position: relative;	
}

span.center-nav-selected-child h3 a,
span.left-nav-selected-child h2 a,
span.center-nav-selected-child a h3,
span.left-nav-selected-child a h2{
	color: #084875;
	position: relative;	
}

span.center-nav-selected-child h3 a::after,
span.left-nav-selected-child h2 a::after{
	content: "";
	color: #084875;
	position: absolute;
	font-size: 30px;
	top: 3px;
	left: -13px;
	border: 4px solid #084875;
	border-radius: 20px;
}

#secondary.left-nav-menu{
	padding-top: 15px;
}

.left-nav-menu h2 a, 
.center-nav-item h3 a,
.left-nav-menu a h2, 
.center-nav-item a h3
{
	font-size: 17px;
	color: #a7a9ac;
	cursor: pointer;
}

.left-nav-menu span h2{
	margin-top: 5px;
	margin-bottom: 5px;
}

.page-template-leftandcenternav-page #right-pane,
.page-template-leftnavsiblings-page #primary,
.page-template-leftnav-page #primary{
	padding-left: 50px;
}

p.back-to-top{
	margin-top: 20px;
	margin-bottom: 40px;
}

p.back-to-top a i {
	margin-right: 5px;
}

@media (max-width: 767px){
	p.back-to-top{
		display: none;
	}
}

a.call-to-action-button{
	padding: 13px 25px;
	border: solid 2px #ffb12f;
	text-align: center;
	display: table;
}
a.call-to-action-button:hover{
	background-color: #ffb12f;
}

a.call-to-action-button span{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: #ffb12f;
	text-transform: uppercase;
}
a.call-to-action-button:hover span{
	color: #fff;
}

img.svg{
	display: none;
}

a.call-to-action-button svg{
	width: 30px;
	height: 30px;
	display: table-cell;
	vertical-align: middle;
}



a.call-to-action-button svg path{
	fill: #ffb12f;
}
a.call-to-action-button:hover svg path{
	fill: #fff;
}


.icon-bullet-line{
	display: table;
}
.icon-bullet-line svg{
	width: 18px;
	height: 20px;
	display: table-cell;
	vertical-align: middle;
}
.icon-bullet-line svg path{
	fill: #dddddd;
}
.icon-bullet-content{
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}


.switchpane
{
}

.switchpane.active{
	display: block;
}

div.product-filters-container{
	display: inline-block;
	vertical-align: top;
	width: 120px;
	margin-right: 15px;
}

.gray-underline{
	width: 100%;
	border-bottom: 1px solid #cccccc;
}

.product-filters-underline{
	max-width: 534px;
	padding: 15px 0 25px 0;
}


ul.product-filters{
	margin: 0;
}

ul.product-filters li {
	list-style-type: none;
	margin-bottom: -10px;
}

ul.product-filters li, 
ul.product-filters li label {
	cursor: pointer;
}

ul.product-filters label {
	font-size: 12px;
}

ul.product-filters input[type=checkbox] {
   position: absolute;
   left: -9999px;
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}

ul.product-filters input[type=checkbox]:checked ~ label {
	color: #084875;
   font-weight: bold;
   position: relative;
}
ul.product-filters input[type=checkbox]:checked ~ label::after {
	content: "";
	color: #084875;
	position: absolute;
	display: list-item;
	font-size: 30px;
	top: 5px;
	left: -13px;
	border: 4px solid #084875;
	border-radius: 20px;
}

ul.product-filters.mobile input[type=checkbox] ~ label {
	color: #a7a9ac;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #cccccc;
}

ul.product-filters.mobile input[type=checkbox]:checked ~ label {
	color: #084875;
}

ul.product-filters.mobile input[type=checkbox]:checked ~ label::after {
	content: "";
	border: none;
}

.filters.mobile .divider{
	width:6px;
	display:table-cell;
}

.filters.mobile .mobile-filters-row{
	display:table;
	width:100%;
	margin-bottom:6px;
}

.filters.mobile .filter-button {
	display:table;
	box-sizing: border-box; 
	width:100%;
	padding: 10px;
	color: #084875;
	font-size: 13px;
}

.filters.mobile .filter-button i{
	float: right;
	font-size: 19px;
	height: 15px;
	margin-right: -5px;
	margin-top: -5px;
}
.filters.mobile .filter-button i::after{
	content: "";
	clear: both;
}

.filters.mobile .filter-button-wrapper{
	box-shadow:0px 0px 0px 2px grey inset;
	display:table-cell;
	width:32%;
	background-color: #ffffff;
}

.filters.mobile .filter-button-content { 
	display:table-cell;
	vertical-align:middle;
	height:40px;
	font-size:10px;
	padding-left:10px;
}

.filter-button.mobile.has-selections,
.filters.mobile .reset{
	color: #ffffff;
	text-transform: uppercase;
	background-color:#fcb132;
}


img.single-product-image {
	margin-left: -15px;
}

div.single-product-attributes {
	margin-top: 20px;
	border-top: 1px solid #cccccc;
	padding-top: 7px;
}

div.single-product-attributes a {
	font-family: "Proxima-Nova";
	font-weight: bold;
	font-style: normal;
	margin-right: 20px;
}

div.page-head.product-single-mobile{
	padding: 10px;
}

div.container.product-single-mobile{
	margin-bottom: 20px;
}

.product-single-mobile div.main-image{
	margin-bottom: 30px;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

.product-single-mobile div.main-image-accessory{
	margin-bottom: 30px;
}

.product-single-mobile div.color-stripe{
	width: 40%;
	min-height: 400px; 
	margin-left: -15px;
}

.product-single-mobile div.color-stripe.sativa{
	background-color: #7b7cbb;
}
.product-single-mobile div.color-stripe.indica{
	background-color: #7b7cbb
}
.product-single-mobile div.color-stripe.hybrid{
	background-color: #1aa250;
}
.product-single-mobile div.color-stripe.high-cbd{
	background-color: #e0be24;
}

.product-single-mobile h1 {
	margin-top: 0;
	margin-bottom: 3px;
}

.product-single-mobile h2 {
	margin-top: 0;
	color: #a7a9ac;
	font-size: 18px;
}

p.price-text{
	margin-top: 10px;
}

.product-single-mobile a.call-to-action-button{
	padding: 5px 25px;
	margin: 5px 0 10px 0;
}

.product-single-mobile a.call-to-action-button span{
	font-size: 22px;
}

.single-product-mobile-attributes{
	margin-top: 20px;
}

.single-product-mobile-attributes a{
	display: block;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #a7a9ac;
}

.single-product-mobile-attributes a::after{
	content: " »";
}

.mobile-product-item .hthumb{
	float: left;
	width: 17%;	
}

div.hthumb.init{
	visibility: hidden;
}

@media (max-width: 767px){
	.page-template-product-page h1, 
	.page-template-product-page h2.mockH1
	{
		margin-top: 0;
		border-bottom: none;
		font-size: 22px;
	}
}

.mobile-product-item,
.mobile-product-item .mobile-product-image,
.mobile-product-item .mobile-product-description{
	height: 27vw;
}

.page-head.mobile-products-page{
	position: fixed;
    width: 100%;
    top: 38px;
    background: #ffffff;
    height: 160px;
    z-index: 100;
	border-bottom: 1px solid #999999;
}

.items.mobile-products-page{
	padding-top: 150px;	
}

.mobile-product-item{
	border-bottom: 0px solid #999999;
	max-height: 0;
	overflow: hidden;
	transition: all 1.25s;
}

.mobile-product-item.active{
	border-bottom: 1px solid #999999;
	max-height: 300px;
	transition: all 1.25s;
}

.mobile-product-item .mobile-product-description{
	display: table;
	padding-left: 15px;
	padding-right: 15px;
}

.mobile-product-item .mobile-product-description .description-inner{
	display: table-cell;
	vertical-align: middle;
}

.mobile-product-item h3{
	margin-top: 0;
	margin-bottom: 1vw;
	text-transform: uppercase;
	font-size: 5.5vw;
}

.mobile-product-item h4{
	color: #a7a9ac;
	font-weight: normal;
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 4vw;
}

.mobile-product-item .hthumb a img{
	margin: 0;
}

.mobile-product-item .mobile-products-color-stripe{
    height: 100%;
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
}

.mobile-products-color-stripe.indica{
	background-color: #7b7cbb;	
}

.mobile-products-color-stripe.sativa{
	background-color: #d22f33;	
}

.mobile-products-color-stripe.hybrid{
	background-color: #1aa250;	
}

.mobile-products-color-stripe.high-cbd,
.mobile-products-color-stripe.none_high-cbd,
.mobile-products-color-stripe.indica_high-cbd,
.mobile-products-color-stripe.sativa_high-cbd,
.mobile-products-color-stripe.hybrid_high-cbd{
	background-color: #ddbf1d;	
}

.mobile-product-item .mobile-product-image{
	width: 100%;
	background-size: auto 160%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10%;
}

.filter-panel-header{
	font-size: 23px;
    padding: 5px;
    border-top: 1px solid #999999;
    height: 40px;
}

.filter-panel-header .icon-cancel{
	float: right;
	font-size: 28px;
	margin-right: -10px;
}


.filter-panel.mobile{
	max-height: 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .95);
	transition: all .25s;
}

.filter-panel.mobile.active{
	max-height: 1000px;
	transition: all .5s;
	transition-delay: .25s;
}

.filter-panel-title{
	text-align: center;
}

.product-item{
	width: 230px;
	height: 245px;
}
div.col-lg-12.product-item-mobile{
	padding: 0;
	margin: 0;
}

div.col-lg-12.product-item-mobile .hthumb a img
{
	margin:0;
}


@media (max-width: 400px){
	.page-head.mobile-products-page{
	    height: 145px;
	}
	.items.mobile-products-page{
		padding-top: 135px;	
	}
	
	.filters.mobile .filter-button {
		padding: 7px;
		font-size: 11px;
	}

	.filters.mobile .filter-button .icon-angled-circle-down,
	.filters.mobile .filter-button .icon-cancel{
		font-size: 18px;
	}
}


a.inline-btn.buy-btn {
	margin-left: 13px;
}

ul.copyright-footer{
	display: inline;
}

ul.copyright-footer li {
	list-style-type: none;
	display: inline-block;
	margin-right: 40px;
}

div.home-shop-now-container{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #ffb12f;
}

div.home-shop-now-container div{
	border-color: #ffffff;
}

div.home-shop-now-container a .home-register-button h2{
	color: #ffffff;
}

div.home-shop-now-container a{
	margin-left: auto;
	margin-right: auto;
}

.big-register-button,
.home-register-button
{
	width: 220px;
	height: 54px;
	border: solid 2px #ffb12f;
	text-transform: uppercase;
	text-align: center;
	margin: 10px auto 15px auto;
}

a div.big-register-button h2,
a div.home-register-button h2{
	color: #ffb12f;
	line-height: 16px;
}

.big-register-button:hover,
.home-register-button:hover{
	background-color: #ffb12f;
}

a div.big-register-button:hover h2,
a div.home-register-button:hover h2{
	color: #fff;
}

.homepage-main-content {
	text-align: center;
	margin-bottom: 30px;
}

.page-template-blog-page img.blog-featured-image{
	margin-bottom: 12px;
}

div.blog-post-preview{
	margin-bottom: 50px;
}

.video-container,
.prevent-reflow{
	display:block;
	position: relative;
    padding-bottom: 56.1%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.prevent-reflow img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.blog-post-preview h2{
	font-size: 22px;
}

div.blog-post-preview h3{
	margin-top: 10px;
	margin-bottom: 12px;
	color: #a7a9ac;
	font-size: 12px;
	text-transform: uppercase;
}

.read-more-link{
	white-space: nowrap;
}

.single-post-featured-image {
	margin-bottom: 20px;
}

div.slicknav_menu,
#mobile-nav {
	display: none;
}


.slicknav_nav a, 
.slicknav_nav a:visited, 
.slicknav_nav a:hover, 
.slicknav_nav a:focus, 
.slicknav_nav a:active
{
	color: #ffffff;
}

a.inline-btn {
  background: #FFB12F;
  background-image: -webkit-linear-gradient(top, #FFB12F, #FFB12F);
  background-image: -moz-linear-gradient(top, #FFB12F, #FFB12F);
  background-image: -ms-linear-gradient(top, #FFB12F, #FFB12F);
  background-image: -o-linear-gradient(top, #FFB12F, #FFB12F);
  background-image: linear-gradient(to bottom, #FFB12F, #FFB12F);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11px;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}

div.buttons-container{
	padding-top: 50px;
	padding-bottom: 50px;
}

div.tags{
	font-size: 12px;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	float: right;
}

div.social-buttons{
	display: inline-block;
}

div.social-buttons a{
	font-family: sans-serif;
	color: #ffffff;
	padding: 9px 15px;
	font-weight: bold;
	border-radius: 3px;
	margin-right: 6px;
	-webkit-transition: border-radius .25s;
	transition: border-radius .25s;
}

div.social-buttons a:hover{
	border-radius: 20px;
	-webkit-transition: border-radius .5s;
	transition: border-radius .5s;
}

div.social-buttons i{
    width: 10px;
}

a.social-button-facebook{
	background-color: #3b5999;
}

a.social-button-twitter{
	background-color: #55acef;
}
a.social-button-twitter::before{
	background-position: 0 -17px;
}

a.social-button-linkedin{
	background-color: #007bb6;
}
a.social-button-linkedin::before{
	background-position: 0 -34px;
}

a.social-button-pinterest{
	background-color: #D20000;
}
a.social-button-pinterest::before{
	background-position: 0 -51px;
}

div.news-archive{
	margin-bottom: 50px;
}

.pagination-buttons {
	text-align: center;
}
.pagination-buttons p a{
    color: #ffffff;
	font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #084875;
    padding: 3px 12px 3px 12px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.accordion .collapse{
	overflow: hidden;
	max-height: 0;
	display: block;
	-webkit-transition: max-height .25s;
	transition: max-height .25s;
}

.accordion > :first-child{
	cursor: pointer;
}

.accordion.open .collapse{
	max-height: 1000px;
	-webkit-transition: max-height .5s;
	transition: max-height .5s;
}

.liveswitcher.extracts-child img {
	max-height: 300px;
	margin-bottom: 30px;
}


div.search-result{
	padding: 0 0 50px 0;
}

.search-result div.search-image{
	padding: 0;
	margin: 0;
}

.search-result div.search-result-body{
	max-width: 500px;	
}

.search-result div.search-result-body h3{
	margin: 5px 0 0 0;
	font-size: 16px;
	color: #a7a9ac;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.search-result div.search-result-body h2{
	margin: 0;
	font-size: 22px;
	margin-bottom: 4px;
}

.page-template-leftandcenternavselfandchildren-page #right-pane{
    padding-top:16px;
}

.flexslider div.std-banner h2{
  padding-left: 4.1%; 
  font-size: 2.3vw; 
  color: #ABABAB; 
  text-transform: none; 
  text-align: left; 
  letter-spacing: 0; 
  position: absolute; 
}
.flexslider div.std-banner h2.line1 {
  top:1.85vw; 
  font-weight:bold;
}
.flexslider div.std-banner h2.line2 {
  top:5vw;
  font-weight:inherit;
}
.flexslider div.std-banner h2.line3 {
  bottom: 2.25vw;
  font-weight:inherit;
  font-size: 1vw;
  width: 35%;
  letter-spacing: 0; 
}

@media screen and (min-width: 1719px) {
	.flexslider div.std-banner h2{
	  font-size: 53px; 
	  letter-spacing: -1.8px; 
	}
	.flexslider div.std-banner h2.line1 {
	  top:33.3px; 
	}
	.flexslider div.std-banner h2.line2 {
	  top:110px; 
	}
	.flexslider div.std-banner h2.line3 {
	  bottom: 30px;
	  font-size: 17.18px;
	}
}



@media screen and (max-width: 500px) {		
	.flex-caption h2{
		font-size: 18px;
	}
}


@media screen and (max-width: 600px) {
    .site-footer .social-icons-container{
        display:block;
    }    
    
	ul.copyright-footer {
		margin-left: 0;
		margin-bottom: 0;
		display: block;
	}

	footer ul.copyright-footer li{
		margin-right: 15px;
		margin-left: 15px;
		display: inline-block;
	}

	footer ul.copyright-footer li a{
		color: #eeeeee;
	}

    footer ul.copyright-footer li.mobile-menu-line-break{
        display:block;
        text-indent: -9999px;
        height: 0px;
    }
	
	div.homepage-blog-list {
		display: inline-block;
		width: 100%;
		vertical-align: top;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	div.homepage-blog-list img{
		width: 100%;
	}
	
	 div.blog-post-preview{
		width: 100%;
	 }
	 
	 .page-template-leftandcenternav-page div#center-nav{
		display: none;
	 }
	 .page-template-leftandcenternav-page div#right-pane{
		width: 100%;
	 }
	 
	 .page-template-leftandcenternav-page div#right-pane h3{
		cursor: pointer;
	 }
	 
	 .page-template-leftandcenternav-page .switchpane {
		display: block;
	 }
	 
	 .page-template-leftandcenternav-page div#right-pane span.answer{
		overflow: hidden;
		max-height: 0;
		display: block;
		-webkit-transition: max-height .25s;
		transition: max-height .25s;
	 }
	 
	 .page-template-leftandcenternav-page div#right-pane .drawer-open span.answer{
		max-height: 800px;
		-webkit-transition: max-height .5s;
		transition: max-height .5s;
	 }
	 
	 .page-template-leftandcenternav-page div#right-pane h3{
		cursor: pointer;
	 }
}

@media screen and (max-width: 768px) {
	div#page {
	}

	div.left-nav-menu {
		display: none;
	}	

	div.row{
		margin-left: 0;
		margin-right: 0;
	}


	html{
		font-size: 60%;
	}

	h1.site-title,
	h2.site-title{
		text-align: center;
	}
	
	select.mnav{
		width: 100%;
		margin-bottom: 20px;
	}

	#primary-menu-container{
		float: none;
		text-align: center;
	}
	
	#primary-menu-container ul{
		display: inline-block;
	}

	.flex-caption h2{
		font-size: 26px;
	}
	.portbox, .postbox{
		margin-bottom: 30px;
	}

	#bottom .col-6 {
		width: 100%;
	}
	
	div.tags{
		text-align: center;
		float: none;
	}

	div.social-buttons{
		text-align: center;
		margin-bottom: 30px;
	}
	
	.search-result div.search-image {
		width: 100%;
	}

	.search-result div.search-image img {
		width: 100%;
	}

	.search-result div.search-result-body {
		width: 100%;
		margin: 10px 0 40px 0;
		padding: 0;
	}

	.page-template-product-page div#page{
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.page-template-product-page footer{
		position: relative;
		bottom: inherit;
	}	
}

@media screen and (max-width: 991px){
	div.site-branding{
		margin: 0;
	}

	h1.site-title,
	h2.site-title{
		margin-bottom: 0;
	}

	div.mainmenu{
		width: 100%;
	}

	form#search-form, 
	div#primary-menu-container{
		margin: 0;
	}

	div#primary-menu-container ul li {
		padding-top: 0;
		padding-bottom: 0;
	}

	div#page{
		padding-top: 47px;
	}	
	
	div.slicknav_menu {
		display: block;
		position: fixed;
		width: 100%;
		z-index: 300;
		max-height: 100%;
	}

	div.login-nav-wrapper,
	#languagedropdownwrapper,
	nav.container {
		display: none;
	}
	
	div.mobile-header-logo{
		width: 100%;
		height: 36px;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		background-image: url('images/tilray-nav-logo-white.svg');
	    background-size: 50%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	ul.flex-direction-nav {
		display: none;
	}	

	.search-result div.search-image {
		min-width: 220px;
	}

}