@font-face{
font-family:"Univers LT W01_55 Roman";
src:url("fonts/723815/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix");
src:url("fonts/723815/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?#iefix") format("eot"),url("fonts/723815/091fe5d9-1aaa-4f3c-9b94-c83bb7c362ab.woff2") format("woff2"),url("fonts/723815/7b95cb9a-a288-4405-97a0-13095f56a903.woff") format("woff"),url("fonts/723815/c7481806-4ea4-40db-a623-7bc352bbbe43.ttf") format("truetype"),url("fonts/723815/ac8280da-3de5-456d-bd77-8f01665452a9.svg#ac8280da-3de5-456d-bd77-8f01665452a9") format("svg");
}
@font-face{
font-family:"Univers LT W01_65 Bold";
src:url("fonts/723827/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix");
src:url("fonts/723827/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix") format("eot"),url("fonts/723827/a88f6520-d0c2-4877-b792-cb77cca8e307.woff2") format("woff2"),url("fonts/723827/b993da84-c1f6-474a-8f00-8aa797b3de8f.woff") format("woff"),url("fonts/723827/58403ef6-4c15-4280-b4b6-9acf50804f4f.ttf") format("truetype"),url("fonts/723827/9178e351-95c5-4913-9eeb-fd0645a18c2d.svg#9178e351-95c5-4913-9eeb-fd0645a18c2d") format("svg");
}

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body,
button,
input,
select,
textarea {
	color: #a7a9ac;
	font-family: 'Univers LT W01_55 Roman',sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.6;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }


h1, h2, h3, h4, h5, h6 {
	font-family: 'Univers LT W01_65 Bold',sans-serif;
	color: #084875;
	max-width: 100%;
}

code{
	white-space: normal;
}


/* Links */
a,
a:visited,
a:hover,
a:focus,
a:active {
	color: #084875;
	text-decoration: none;
}

/* Head */

#masthead{
	position: relative;
}
.site-branding{
	margin-bottom: 20px;
}
h1.site-title{
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 25px;
	
}

h1 > a, h1 > a:link, h1 > a:visited, 
h2 > a, h2 > a:link, h2 > a:visited, 
h3 > a, h3 > a:link, h3 > a:visited
{
	color: #084875;
}



/* Menu */

.menutoggle{
	width: 36px;
	height: 36px;
	color: #777;
	border: 1px solid #ddd;
	border-radius: 3px;
	line-height: 36px;
	text-align: center;
	background: #fff;
	position: absolute;
	right: 20px;
	top:25px;
	font-size: 20px;
	display:none;
}
nav.main-navigation{

	margin-bottom: 20px;
	background: #3a4755;
}


#primary-menu-container {
	padding:0px 0px;
	margin: 15px 0px;
	border-bottom: none;
	float: right;
}
	
#primary-menu-container ul {
	width: auto;
	list-style: none;
	margin: 0;
	padding: 0 0px;

	}
	
#primary-menu-container li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight:400;
	padding: 19px 10px 19px 10px;
}
	
#primary-menu-container li a {
	font-family: 'Univers LT W01_65 Bold',sans-serif;
	color: #084875;
	display: block;
    margin: 0;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
}

#primary-menu-container li.current-page-ancestor a,
#primary-menu-container li.current-menu-item a {
    border-bottom: 4px solid #084875;
}


#primary-menu-container li a:hover, #primary-menu-container li a:active, #primary-menu-container .current_page_item a  {
}
	
#primary-menu-container li a.sf-with-ul {
	padding-right: 10px;
	}	
	

	
#primary-menu-container li ul li a, #primary-menu-container li ul li a:link, #primary-menu-container li ul li a:visited,
#primary-menu-container li ul li ul li a, #primary-menu-container li ul li ul li a:link, #primary-menu-container li ul li ul li a:visited,
#primary-menu-container li ul li ul li ul li a, #primary-menu-container li ul li ul li ul li a:link, #primary-menu-container li ul li ul li ul li a:visited {
	color:#777;
	width: 148px; 
	margin: 0;
	padding: 10px 10px;
	border-top:1px solid #ddd;
	position: relative;
	font-weight:400;

	}
	
#primary-menu-container ul li ul li:first-child a,#primary-menu-container ul li ul li ul li:first-child a,#primary-menu-container ul li ul li ul li ul li:first-child a  {
	border-top:none;
	

}

	
#primary-menu-container li ul li a:hover ,#primary-menu-container li ul li ul li a:hover ,#primary-menu-container li ul li ul li ul li a:hover {
	color: #ed564b;
}


#primary-menu-container li ul {
	font-size: 12px;
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 160px;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px;
	background:#fff;
	
	}

#primary-menu-container li ul a { 
	width: 150px;
	}

#primary-menu-container li ul a:hover, #primary-menu-container li ul a:active { 
	}

#primary-menu-container li ul ul {
	margin: -44px 0 0 160px;
	}

#primary-menu-container li:hover ul ul, #primary-menu-container li:hover ul ul ul, #primary-menu-container li.sfHover ul ul, #primary-menu-container li.sfHover ul ul ul {
	left: -999em;
	}

#primary-menu-container li:hover ul, #primary-menu-container li li:hover ul, #primary-menu-container li li li:hover ul, #primary-menu-container li.sfHover ul, #primary-menu-container li li.sfHover ul, #primary-menu-container li li li.sfHover ul {
	left: auto;
	}

#primary-menu-container li:hover, #primary-menu-container li.sfHover { 
	position: static;
	}


#loginmenucontainer{
	width: 100%;
	background-color: #000;
}



.login-nav-wrapper{
	height:25px;
	font-size: 12px;
	line-height: 25px;
}

ul#login-menu li
{
	display: inline;
	list-style-type: none;
	float: right;
	text-align: center;
	height: 100%;
}

ul#login-menu {
	height: 100%;
}

ul#login-menu li a {
	color: #fff;
}


ul#login-menu li,
#language-chooser {
	font-family: 'Univers LT W01_65 Bold',sans-serif;
}

ul#login-menu li:last-child a{
	background-color: #ffb12f;
	width: 150px;
	float: right;
	text-align: center;
	height: 100%;
}



ul#login-menu li:first-child a,
#language-chooser {
	background-color: #3caefb;
	width: 100px;
	float: right;
	text-align: center;
	height: 100%;
	margin-left: 5px;
}


.language-chooser,
.language-chooser a,
.language-chooser a:visited,
.language-chooser a:hover
{
	position: relative;
	display: inline;
	color: #fff;
}


.caret{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

#languagechooserbutton{
	cursor: pointer;
}	

#languagedropdown{
	position: absolute;
	right: 0px;
	z-index: 3;
	width: 100px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	background: #fff;
}	
#languagedropdown.closed{
	display: none;
}	

#languagedropdownwrapper{
	height: 0;
	position: relative;
}

ul.lang-chooser-dropdown{
	list-style: none;
	margin: 10px 0 10px 0;
}

ul.lang-chooser-dropdown li{
	margin: 5px 20px 5px;
}

ul.lang-chooser-dropdown li a,
ul.lang-chooser-dropdown li a:visited{
	color: #333;
	text-transform: uppercase;
}
		
#loginmenu {
	padding:0px 0px;
	margin: 0px 0px;
	height:30px;
	float: right;
	display: inline;
	}
	
#loginmenu ul {
	width: auto;
	float:right;
	list-style: none;
	margin: 0;
	padding: 0 0px;
	}
	
#loginmenu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight:400;
	}
	
#loginmenu li a {
	display: block;
    margin: 0;
	padding: 0 10px 0 10px;
	text-decoration: none;
	position: relative;
	}
	
.social-icon{
	width: 60;
	height: 30;
	margin: 0;
	overflow: hidden;
	text-indent: -9999px;
	display:block;
}

.social-icon a{
	display:block;
}	

#loginmenu li a:not([href*="tilray"]) {
	padding: 0 15px 0 15px;
	margin: 0;
	overflow: hidden;
	text-indent: -9999px;
	display:block;
	background-repeat: no-repeat;
    background-position: center; 
}

#loginmenu li a[href*="facebook"]{
	background-image: url('images/icon-facebook.png');
}
#loginmenu li a[href*="twitter"]{
	background-image: url('images/icon-twitter.png');
}
#loginmenu li a[href*="instagram"]{
	background-image: url('images/icon-instagram.png');
}
#loginmenu li a[href*="registration.tilray"]{
	vertical-align: top;
	margin: -4px 0 0 10px;
	padding: 4px 25px;
	background-color: #3daffc;
	text-transform: uppercase;
	color: #fff;
}
	
	
header{
	width: 100%;
}

/* Layout */
html, body {
	min-height: 100%;
	height: 100%;
}

#page{
	min-height: 100%;
	margin-bottom: -60px;
	padding-bottom: 60px;
}

#primary {
	min-height: 500px;
    -webkit-transition:height .2s, -webkit-transform .2s;
    transition:height .2s, transform .2s;
}

#primary, #secondary{
	padding-top: 5px;
	padding-bottom: 40px;
}

/* Slider */

#slidebox{
	max-height: 550px;

	position: relative;
	background: #000;
}

.doverlay{
}

img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
	
	
.flex-caption{
	width: 80%;
	position: absolute;
	top:40%;
	left: 50%;
	margin-left: -40%;
	text-align: center;
	z-index: 120;
	color: #fff;
	
}	
	
.flex-caption h2{
	text-transform: uppercase;
	font-size: 36px;
	color: #fff;
}


.flex-caption h2 a:link, .flex-caption h2 a:visited{
	color: #fff;
}

.flex-caption p{
	font-size: 16px;
}

a.frmore{
	background: rgba(255,255,255,0.2);
	display: block;
	text-transform: uppercase;
	color: #fff;
	width: 150px;
	border: 1px solid #fff;
	padding: 5px 0px;
	margin: 10px auto;
	font-weight: bold;
	color: #fff!important;
}


/* Home widgets */

.fwidgets{
	padding: 40px 0px;
	background: #ed564b;
	border-top:5px solid #f96b61;
	border-bottom:5px solid #f96b61;
}

.homewidget{
	color: #fff;
	text-align: center;
}

.homewidget span{
	border: 5px solid #fff;
	background: transparent;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	display: block;
	line-height: 65px;
	text-align: center;
	margin: 0px auto;
	font-size: 20px;
}

.homewidget h3{
	font-size: 24px;
	font-weight: bold;
}

/* Homepage */

.section-wide{
	margin-top:40px;
}
.sec{
	margin-bottom: 40px;
}
.section-title{
	text-transform: uppercase;
	padding-bottom: 20px;
}
.section-title h2{
	font-size: 24px;
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
}

.section-title p{
	font-weight: bold;
	border-bottom: 2px solid #cccccc;
	color: #aaa;
	padding-bottom: 20px;
}

.portbox,.postbox,.hthumb{
	position: relative;

}
.product-item{
	width: 280px;
	height: 260px;
}
.hthumb a img{
	margin: auto;
	display: block;
}
.hthumb{
}
.overlay{
	position: absolute;
	background: #ED564B;
	width: 30px;
	height: 30px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	z-index: 100;
	right: 0px;
	bottom: 0px;
}
.portbox h3{
	text-align: center;
	color: #000;
	font-size: 14px;
}

.postbox h3{
	font-size: 16px;
	font-weight: bold;
}
.postbox h3 a:link, .postbox h3 a:visited, .portbox h3 a:link, .portbox h3 a:visited {
	color: #000;
	
}

.hometa{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
}


/* Article */

.page-head{
	padding: 20px 0px 0px 0px;
}


.page-head h1{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom:2px solid #cccccc;
}

article.post, article.page, section.error-404{
	margin-bottom: 40px;
}

h1.entry-title{
	margin-top:10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 36px;
	color: #000;
}

h1.entry-title a:link, h1.entry-title a:visited{
	color: #000;
}

.entry-meta{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}




/* Search */

.widget_search{
	width: 100%;
}
.widget_search label{
	width: 100%;
}
input.search-field{
	border: 1px solid #ddd;
	background: #fafafa;
	height: 40px;
	border-radius: 20px;
	width: 90%;
	padding: 5px 5%;
	display: block;
}



/* Widgets */
.widget {
	margin: 0 0px 30px 0px;
	
}

h1.widget-title, h3.sidetitl {
    font-size: 20px;
 	color:#000;
 	height: 60px;
 	line-height: 60px;
 	text-transform: uppercase;
 	font-weight: bold;
}

.widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.widget li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.widget ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.widget ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 0px;
    color: #6f7779;
}

.widget ul li a:link,.widget ul li a:visited {
    color: #6f7779;
    text-decoration: none;
}

.widget ul li a:hover{
	color:#ed564b;
}

.widget.widget_categories ul li,.widget.widget_pages ul li,.widget.widget_archive ul li,.widget.widget_links ul li,.widget.widget_meta ul li {
    border-bottom: 1px dotted #ddd;
    padding: 7px 0px;
}

.widget.widget_recent_entries ul li  {
	padding: 7px 0px;
     border-bottom: 1px dotted  #ddd;
}

.widget ul#recentcomments li.recentcomments {
     border-bottom: 1px dotted  #ddd;
    padding: 7px 0;
}

.widget .textwidget p {
    padding: 0px 0px;
}

.widget .tagcloud {
    padding: 0px 0px 20px 0px;
}

.widget .tagcloud a{
	color:#F5634A;
}

.widget #calendar_wrap{
	padding:0px 20px 20px 20px;
	color: #6f7779;
}

.widget_ns_mailchimp{
	background: #fff;
	border:1px solid #eaeaea;
	padding: 20px 20px;
}

.widget_ns_mailchimp input.button{
	width: 110px;
	margin: 10px 0px 0px 0px;
}

.squarebanner{
	margin:0px;
}


.squarebanner ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px !important;

}

.squarebanner ul li{
	margin:10px 20px 5px 0px;
	list-style:none;
	float:left;

}
.squarebanner ul li img{
	width: 110px;
	height: 110px;
}

li.rbanner{
	margin-right:0px!important;
}



/* Comments */

#comments{
	
}

h2.comments-title{
	font-size: 24px;
	margin-bottom: 20px;
	color: #ed564b;
}

#comments ol.comment-list {
    clear: both;
    overflow: hidden;
    list-style: none;
    margin: 0;
}

#comments ol.comment-list li.comment,#comments ol.comment-list li.pingback {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px;
    line-height: 1.6;

}

ol.comment-list li .comment-author .avatar {
     margin: 10px 10px 20px 0px;
     float:left;
     width:64px;
     height: 64px;
     border-radius: 32px;
}

cite.fn {
    color: #444;
    font-style:normal;
    font-weight:bold;
    font-size:14px;
    padding-top: 10px;
    display: inline-block;
}

cite.fn a:link,cite.fn a:visited {
	color:#444;
}

ol.comment-list li .comment-meta{

	padding-bottom: 10px;
}

ol.comment-list li .comment-meta a {
    
    text-decoration: none!important;
    
    
}

.comment-metadata{
	font-size: 12px;
	color: #999;
}

.comment-metadata a:link, .comment-metadata a:visited{
	color: #999;
}

.comment-content{
	padding: 0px 10px 10px 74px;

}

ol.comment-list li .reply {
    color: #ed564b;
    font-size: 12px;
    margin-left: 74px;
}

ol.comment-list li .reply a {
    color: #ed564b;

}

.space{
	height:30px;
}


ol.comment-list li ul.children {
    list-style: none;
    text-indent: 0;
    margin: 20px 0px 0px 50px;
}


#respond {
    margin: 30px 0;

}

#respond h3 {
    font-size: 18px;
    color: #3a4755;
    padding: 5px 0px;
    margin:0px 0px;
}

#commentform {
    padding: 0px 0px;
}

#commentform p {
    color: #777;
    margin: 5px 0;
}

.form-allowed-tags{
	font-size:13px;
}

#respond label {
    display:inline;
    color: #777;
    padding: 5px 0;
}

#respond input {
    background: #fff;
    border: 1px solid #ddd;
    color: #777;
    margin: 0 10px 10px 0;
    padding: 5px;
}

#commentform input {
    width: 50%;
    display:block;
    margin-top:5px;
}

#respond input#submit {
	width:130px;
    background:#eee;
    color: #555;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea#comment {
    display:block;
    margin-top:5px;
    background: #fff;
    border: 1px solid #ddd;
    width: 70%;
    color: #333;
    margin: 5px 0 0;
    padding: 10px 10px;
}


.form-allowed-tags{
	padding:20px 0px;

}

/* Footer widgets */

#bottom{
	padding: 20px 0px 40px 0px;
	background: #3b3b3b;
	border-top:5px solid #ed564b;
}

#bottom ul{
	margin:0px 0px;
	padding:0px;
}

h3.bothead{
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 0px;
	color:#fff;
	text-transform: uppercase;
	}
	
.botwid{
	color: #aaa;
	}
	
.botwid ul {
	list-style-type: none;
	margin:  0px;
	padding: 0px 0px 0px 0px ;


	}
.botwid li{
	list-style-type: none;
	margin: 0 ;
	padding: 0px 0px;
    border-bottom: 1px dotted rgba(255,255,255,.2);
	}
.botwid ul ul  {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	background-repeat:no-repeat;
		}

.botwid ul ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;
	}

.botwid ul ul ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;

	}

.botwid ul li {
	height:100%;
	line-height:18px;
	clear: left;	
	list-style-type: none;
	color: #aaa;
	}
	
.botwid ul li a:link, .botwid ul li a:visited  {
	color: #aaa;
	text-decoration: none;
	padding: 7px 0px 7px 0px;
	display:block;
	}

.botwid ul li a:hover{
	color: #fff;
	}

.botwid p{
	padding: 5px 0px;
	margin:0;
	line-height:150%;
	
	}

.botwid table {
	width:100%;
	text-align:center;
	color: #818181;
	}		
		
.botwid ul#recentcomments li.recentcomments {
    padding:7px 0;
}



/* Footer */

.site-footer{
	padding: 10px 0px;
	background:#444444;
	font-size: 12px;
	height: 60px;
}

.fcred{
	padding: 10px;
	color: #eee;
}

.fcred a:link, .fcred a:visited{
	color:#eee;
}

@media screen and (max-width: 768px) {
	html{
		font-size: 60%;
	}

	h1.site-title{
		text-align: center;
	}
	
	select.mnav{
		width: 100%;
		margin-bottom: 20px;
	}

	#primary-menu-container{
		float: none;
		text-align: center;
	}
	
	#primary-menu-container ul{
		display: inline-block;
	}
		
	.flex-caption h2{
		font-size: 26px;
	}
	.portbox, .postbox{
		margin-bottom: 30px;
	}

	#bottom .col-6 {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {		
	.flex-caption h2{
		font-size: 18px;
	}
}

.left-nav-menu span a,
span.left-nav-selected-child a,
span.center-nav-selected-child a{
	position: relative;	
}

span.center-nav-selected-child a h3,
span.left-nav-selected-child a h2{
	color: #084875;
}

span.center-nav-selected-child h3::after,
span.left-nav-selected-child h2::after{
	content: "";
	color: #084875;
	position: absolute;
	display: list-item;
	font-size: 30px;
	top: -10px;
	left: 10px;
}

.left-nav-menu a h2, 
.center-nav-item a h3
{
	font-size: 16px;
	color: #a7a9ac;
	cursor: pointer;
}







.switchpane
{
	display: none;
}

.switchpane.active{
	display: block;
}

div.product-filters-container{
	display: inline-block;
	vertical-align: top;
	width: 120px;
	margin-right: 15px;
}

.gray-underline{
	width: 100%;
	border-bottom: 2px solid #cccccc;
}


ul.product-filters{
	margin: 0;
}

ul.product-filters li {
	list-style-type: none;
}

ul.product-filters li, 
ul.product-filters li label {
	cursor: pointer;
}

ul.product-filters label {
	font-size: 12px;
}

ul.product-filters input[type=radio] {
   position: absolute;
   left: -9999px;
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}
ul.product-filters input[type=radio]:checked ~ label {
	color: #084875;
   font-weight: bold;
}

img.single-product-image {
	margin-left: -15px;
}

div.single-product-attributes {
	margin-top: 20px;
	border-top: 2px solid #cccccc;
	padding-top: 7px;
}

div.single-product-attributes a {
	font-family:"Univers LT W01_65 Bold";
	margin-right: 20px;
}

ul.copyright-footer{
	display: inline;
}

ul.copyright-footer li {
	list-style-type: none;
	display: inline;
}

ul.copyright-footer li:before {
	content: " | ";
	margin-left: 20px;
	margin-right: 20px;
}

ul.copyright-footer li:first-child:before {
	content: none;
	margin-right: 20px;
}

.home-register-button
{
	width: 220px;
	height: 54px;
	border: solid 2px #ffb12f;
	text-transform: uppercase;
	text-align: center;
	margin: 10px auto 15px auto;
}

a div.home-register-button h2{
	color: #ffb12f;
	line-height: 16px;
}


.homepage-main-content {
	text-align: center;
}

.homepage-blog-list h3 {
	padding-top: 6px;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;	
	border-top: 2px solid #cccccc;
	margin: 0;
}

.homepage-blog-list h3 a{
	color: #a7a9ac;
}

.homepage-blog-list h4 {
	margin: 0;
	font-size: 12px;
	color: #a7a9ac;
	padding-top: 5px;
	padding-bottom: 15px;
}

.page-template-blog-page h2{
	font-size: 22px;
}
.page-template-blog-page h3{
	margin-top: -10px;
	margin-bottom: 12px;
	color: #a7a9ac;
	font-size: 12px;
	text-transform: uppercase;
}
.page-template-blog-page img.blog-featured-image{
	margin-bottom: 12px;
}

div.blog-post-preview:nth-child(n+2){
	border-top: 2px solid #cccccc;
	margin-top: 50px;
}


.single-post-featured-image {
	margin-bottom: 20px;
}

div.slicknav_menu,
#mobile-nav {
	display: none;
}

@media screen and (max-width: 600px) {
	div.slicknav_menu {
		display: block;
	}
	div.login-nav-wrapper,
	#languagedropdownwrapper,
	nav.container {
		display: none;
	}
	
	ul.flex-direction-nav {
		display: none;
	}
}

.slicknav_nav a, 
.slicknav_nav a:visited, 
.slicknav_nav a:hover, 
.slicknav_nav a:focus, 
.slicknav_nav a:active
{
	color: #ffffff;
}