










/* Links */
a,
a:visited,
a:hover,
a:focus,
a:active {
	color: #084875;
	text-decoration: none;
}

p a {
	text-decoration: underline;
}
/* Head */



h1 > a, h1 > a:link, h1 > a:visited, 
h2 > a, h2 > a:link, h2 > a:visited, 
h3 > a, h3 > a:link, h3 > a:visited
{
	color: #084875;
}


.ie9-and-lower-only{
	display: none;
}

div.hfeed.site.ie9 .ie9-and-lower-only,
div.hfeed.site.ie8 .ie9-and-lower-only,
div.hfeed.site.ie7 .ie9-and-lower-only{
	display: inherit;
}


/* Menu */


form.search-404{
    border: 2px solid #a7a9ac;
    display: inline-block;
    padding: 5px;
    position: relative;
}

form.search-404 button.search-submit{
    position: absolute;
    top: 5px;
    right: 5px;
}

form.search-404 label{
	margin: 0;
}

form.search-404 input.search-field{
	width: 300px;
	font-size: 16px;
}

div.more-content{
	margin-top: 120px;
}

	

/* Layout */
html, body {
	min-height: 100vh;
	position: relative;
}

#page{
	min-height: 100%;
	margin-bottom: -60px;
	padding-bottom: 60px;
	position: relative;
}

@media (max-height: 768px){
	#page{
		padding-bottom: 95px;
	}
}

#primary {
	min-height: 500px;
    -webkit-transition:height .2s, -webkit-transform .2s;
    transition:height .2s, transform .2s;
}

#primary, #secondary{
	padding-top: 5px;
	padding-bottom: 40px;
}

/* Slider */




a.frmore{
	background: rgba(255,255,255,0.2);
	display: block;
	text-transform: uppercase;
	color: #fff;
	width: 150px;
	border: 1px solid #fff;
	padding: 5px 0px;
	margin: 10px auto;
	font-weight: bold;
	color: #fff!important;
}


/* Home widgets */

.fwidgets{
	padding: 40px 0px;
	background: #3caefb;
	border-top:5px solid #f96b61;
	border-bottom:5px solid #f96b61;
}



.sec{
	margin-bottom: 40px;
}
.section-title{
	text-transform: uppercase;
	padding-bottom: 20px;
}
.section-title h2{
	font-size: 24px;
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
}

.section-title p{
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	color: #aaa;
	padding-bottom: 20px;
}

.portbox,.postbox,.hthumb{
	position: relative;

}

div.hthumb{
	padding: 0;
}


.overlay{
	position: absolute;
	background: #3caefb;
	width: 30px;
	height: 30px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	z-index: 100;
	right: 0px;
	bottom: 0px;
}
.portbox h3{
	text-align: center;
	color: #000;
	font-size: 14px;
}

.postbox h3{
	font-size: 16px;
	font-weight: bold;
}
.postbox h3 a:link, .postbox h3 a:visited, .portbox h3 a:link, .portbox h3 a:visited {
	color: #000;
	
}

.hometa{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
}

h2.blog-section {
	text-transform: uppercase;
}

/* Article */

.page-head{
	padding: 20px 0px 0px 0px;
}


article.post, article.page, section.error-404{
	margin-bottom: 40px;
}





/* Search */

.widget_search{
	width: 100%;
}
.widget_search label{
	width: 100%;
}





/* Widgets */
.widget {
	margin: 0 0px 30px 0px;
	
}

h1.widget-title, h3.sidetitl {
    font-size: 20px;
 	color:#000;
 	height: 60px;
 	line-height: 60px;
 	text-transform: uppercase;
 	font-weight: bold;
}

.widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.widget li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.widget ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.widget ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 0px;
    color: #6f7779;
}

.widget ul li a:link,.widget ul li a:visited {
    color: #6f7779;
    text-decoration: none;
}

.widget ul li a:hover{
	color:#3caefb;
}

.widget.widget_categories ul li,.widget.widget_pages ul li,.widget.widget_archive ul li,.widget.widget_links ul li,.widget.widget_meta ul li {
    border-bottom: 1px dotted #ddd;
    padding: 7px 0px;
}

.widget.widget_recent_entries ul li  {
	padding: 7px 0px;
     border-bottom: 1px dotted  #ddd;
}

.widget ul#recentcomments li.recentcomments {
     border-bottom: 1px dotted  #ddd;
    padding: 7px 0;
}

.widget .textwidget p {
    padding: 0px 0px;
}

.widget .tagcloud {
    padding: 0px 0px 20px 0px;
}

.widget .tagcloud a{
	color:#F5634A;
}

.widget #calendar_wrap{
	padding:0px 20px 20px 20px;
	color: #6f7779;
}

.widget_ns_mailchimp{
	background: #fff;
	border:1px solid #eaeaea;
	padding: 20px 20px;
}

.widget_ns_mailchimp input.button{
	width: 110px;
	margin: 10px 0px 0px 0px;
}


a.call-to-action-button{
	padding: 13px 25px;
	border: solid 2px #ffb12f;
	text-align: center;
	display: table;
	text-decoration: none;
}
a.call-to-action-button:hover{
	background-color: #ffb12f;
}

a.call-to-action-button span{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: #ffb12f;
	text-transform: uppercase;
}
a.call-to-action-button:hover span{
	color: #fff;
}

img.svg{
	display: none;
}

a.call-to-action-button svg{
	width: 30px;
	height: 30px;
	display: table-cell;
	vertical-align: middle;
}



a.call-to-action-button svg path{
	fill: #ffb12f;
}
a.call-to-action-button:hover svg path{
	fill: #fff;
}


.icon-bullet-line{
	display: table;
}
.icon-bullet-line svg{
	width: 18px;
	height: 20px;
	display: table-cell;
	vertical-align: middle;
}
.icon-bullet-line svg path{
	fill: #dddddd;
}
.icon-bullet-content{
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}



a.call-to-action-button span{
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: #ffb12f;
	text-transform: uppercase;
}
a.call-to-action-button:hover span{
	color: #fff;
}




.big-register-button,
.home-register-button
{
	width: 220px;
	height: 54px;
	border: solid 2px #ffb12f;
	text-transform: uppercase;
	text-align: center;
	margin: 10px auto 15px auto;
}

a div.big-register-button h2,
a div.home-register-button h2{
	color: #ffb12f;
	line-height: 16px;
}

.big-register-button:hover,
.home-register-button:hover{
	background-color: #ffb12f;
}

a div.big-register-button:hover h2,
a div.home-register-button:hover h2{
	color: #fff;
}


.page-template-blog-page img.blog-featured-image{
	margin-bottom: 12px;
}

div.blog-post-preview{
	margin-bottom: 50px;
}

.video-container,
.prevent-reflow{
	display:block;
	position: relative;
    padding-bottom: 56.1%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.prevent-reflow img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.blog-post-preview h2{
	font-size: 22px;
}

div.blog-post-preview h3{
	margin-top: 10px;
	margin-bottom: 12px;
	color: #a7a9ac;
	font-size: 12px;
	text-transform: uppercase;
}

.read-more-link{
	white-space: nowrap;
}

.single-post-featured-image {
	margin-bottom: 20px;
}


a.inline-btn {
  background: #FFB12F;
  background-image: -webkit-linear-gradient(top, #FFB12F, #FFB12F);
  background-image: -moz-linear-gradient(top, #FFB12F, #FFB12F);
  background-image: -ms-linear-gradient(top, #FFB12F, #FFB12F);
  background-image: -o-linear-gradient(top, #FFB12F, #FFB12F);
  background-image: linear-gradient(to bottom, #FFB12F, #FFB12F);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11px;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}

div.buttons-container{
	padding-top: 50px;
	padding-bottom: 50px;
}

div.tags{
	font-size: 12px;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	float: right;
}

div.social-buttons{
	display: inline-block;
}

div.social-buttons a{
	font-family: sans-serif;
	color: #ffffff;
	padding: 9px 15px;
	font-weight: bold;
	border-radius: 3px;
	margin-right: 6px;
	-webkit-transition: border-radius .25s;
	transition: border-radius .25s;
}

div.social-buttons a:hover{
	border-radius: 20px;
	-webkit-transition: border-radius .5s;
	transition: border-radius .5s;
}

div.social-buttons i{
    width: 10px;
}

a.social-button-facebook{
	background-color: #3b5999;
}

a.social-button-twitter{
	background-color: #55acef;
}
a.social-button-twitter::before{
	background-position: 0 -17px;
}

a.social-button-linkedin{
	background-color: #007bb6;
}
a.social-button-linkedin::before{
	background-position: 0 -34px;
}

a.social-button-pinterest{
	background-color: #D20000;
}
a.social-button-pinterest::before{
	background-position: 0 -51px;
}

div.news-archive{
	margin-bottom: 50px;
}

.pagination-buttons {
	text-align: center;
}
.pagination-buttons p a{
    color: #ffffff;
	font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #084875;
    padding: 3px 12px 3px 12px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.accordion .collapse{
	overflow: hidden;
	max-height: 0;
	display: block;
	-webkit-transition: max-height .25s;
	transition: max-height .25s;
}

.accordion > :first-child{
	cursor: pointer;
}

.accordion.open .collapse{
	max-height: 1000px;
	-webkit-transition: max-height .5s;
	transition: max-height .5s;
}

.liveswitcher.extracts-child img {
	max-height: 300px;
	margin-bottom: 30px;
}


div.search-result{
	padding: 0 0 50px 0;
}

.search-result div.search-image{
	padding: 0;
	margin: 0;
}

.search-result div.search-result-body{
	max-width: 500px;	
}

.search-result div.search-result-body h3{
	margin: 5px 0 0 0;
	font-size: 16px;
	color: #a7a9ac;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.search-result div.search-result-body h2{
	margin: 0;
	font-size: 22px;
	margin-bottom: 4px;
}





@media screen and (max-width: 600px) {
    .site-footer .social-icons-container{
        display:block;
    }    
    
	ul.copyright-footer {
		margin-left: 0;
		margin-bottom: 0;
		display: block;
	}

	footer ul.copyright-footer li{
		margin-right: 15px;
		margin-left: 15px;
		display: inline-block;
	}

	footer ul.copyright-footer li a{
		color: #eeeeee;
	}

    footer ul.copyright-footer li.mobile-menu-line-break{
        display:block;
        text-indent: -9999px;
        height: 0px;
    }
	
	div.homepage-blog-list {
		display: inline-block;
		width: 100%;
		vertical-align: top;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	div.homepage-blog-list img{
		width: 100%;
	}
	
	 div.blog-post-preview{
		width: 100%;
	 }	 
}

@media screen and (max-width: 768px) {
	div#page {
	}

	div.row{
		margin-left: 0;
		margin-right: 0;
	}

	.page-head.mobile .row{
		margin-left: -15px;
		margin-right: -15px;
	}

	html{
		font-size: 60%;
	}

	h1.site-title,
	h2.site-title{
		text-align: center;
	}
	
	select.mnav{
		width: 100%;
		margin-bottom: 20px;
	}

	#primary-menu-container{
		float: none;
		text-align: center;
	}
	
	#primary-menu-container ul{
		display: inline-block;
	}

	.flex-caption h2{
		font-size: 26px;
	}
	.portbox, .postbox{
		margin-bottom: 10px;
	}

	#bottom .col-6 {
		width: 100%;
	}
	
	div.tags{
		text-align: center;
		float: none;
	}

	div.social-buttons{
		text-align: center;
		margin-bottom: 30px;
	}
	
	.search-result div.search-image {
		width: 100%;
	}

	.search-result div.search-image img {
		width: 100%;
	}

	.search-result div.search-result-body {
		width: 100%;
		margin: 10px 0 40px 0;
		padding: 0;
	}

}

@media screen and (max-width: 991px){
	div.site-branding{
		margin: 0;
	}

	h1.site-title,
	h2.site-title{
		margin-bottom: 0;
	}

	div.mainmenu{
		width: 100%;
	}

	form#search-form, 
	div#primary-menu-container{
		margin: 0;
	}

	div#primary-menu-container ul li {
		padding-top: 0;
		padding-bottom: 0;
	}

	div#page{
		padding-top: 47px;
	}	
	
	div.login-nav-wrapper,
	#languagedropdownwrapper,
	nav.container {
		display: none;
	}
	
	div.mobile-header-logo{
		width: 100%;
		height: 36px;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		background-image: url('images/tilray-nav-logo-white.svg');
	    background-size: 50%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	ul.flex-direction-nav {
		display: none;
	}	

	.search-result div.search-image {
		min-width: 220px;
	}

}


/***************************************************
* POST SINGLE
***************************************************/
.single .single-post-featured-image{
}

.single .related img {
}

.single .related h2{
	margin-top: 0px;
	margin-bottom: 25px;
	font-size: 20px;
}

.single .related h3{
    margin-top: 5px;
    margin-bottom: 35px;
}

.single .related h3 > a{
    color: #a7a9ac;
    font-size: 17px;
}

body.single h2.mockH1 {
	margin-bottom: 20px;
}

body.single .content-area{
	padding-top: 3px;
}


form.normal label{
	display: block;
	margin-bottom: 0;
}
form.normal input[type="text"]{
	display: inline-block;
}

form.normal input[type="submit"]{
	color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #084875;
    padding: 8px 12px 8px 12px;
    display: inline-block;
    border: none;
    margin-top: 5px;
}
